<h1>Hello World</h1>

<!-- sign in -->
<div id="user-container">
  <div hidden id="user-pic"></div>
  <div hidden id="user-name"></div>
  <button hidden id="sign-out">
    Sign-out
  </button>
  <button hidden id="sign-in">
    Sign in
  </button>
</div>
